<script setup>
import { onMounted } from "vue";
import { user_test, fetchUserTest } from "../stores/UsersStore";

// Fetch les utilisateurs au montage du composant
onMounted(fetchUserTest);
</script>

<template>
  <h2>Bonjour {{ user_test.firstname }} {{ user_test.lastname }}</h2>
</template>
